{% block body %}
    <h1>Editar Datos Ip</h1>

    {{ include('registro_ip/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-secondary" href="{{ path('listado_ip') }}">Volver al listado</a>

{% endblock %}
