{% extends 'base.html.twig' %}

{% block title %}Hello RegistroIpController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="example-wrapper">
        <input type="search"/>
		<h1>Listado de Ips</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Ip</th>
					<th>Horario</th>
					<th>Categoria</th>
					<th>Estado</th>
					<th>Comentario</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for registro in registros %}
					<tr>
						<td>{{ registro.id }}</td>
						<td>{{ registro.ip }}</td>
						<td>{{ registro.getFechaHora|date('H:i:s d/m/Y') }}</td>
						<td>{{ registro.categoria }}</td>
						<td>
							{{ registro.estado ? 'Activo' : 'Bloqueado' }}
						</td>
						<td>{{ registro.comentario }}</td>
						<td>
							<a class="btn btn-success" href="{{ path('registro_edit', {'id': registro.id}) }}">editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">No se encontraron registros</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
