<form method="post" action="{{ path('categoria_delete', {'id': categorium.id}) }}" onsubmit="return confirm('¿estas seguro de eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn btn-danger">Eliminar Categoria</button>
</form>
