{% block body %}
	<div class="container">
		<div class="row">
        <h3>Crear Categoria</h3>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
