{% extends 'base.html.twig' %}

{% block title %}Editar Categoria{% endblock %}

{% block body %}
    <h1>Editar la Categoria</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-secondary" href="{{ path('categoria_index') }}">Volver al listado</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
