{% extends 'base.html.twig' %}

{% block title %}Nueva Categoria{% endblock %}

{% block body %}

    {{ include('categoria/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('categoria_index') }}">Volver al listado</a>
{% endblock %}
