{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
    <h1>Categoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categorium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('categoria_index') }}">Volver al listado</a>

    <a class="btn btn-success" href="{{ path('categoria_edit', {'id': categorium.id}) }}">Editar</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
